<mat-toolbar class="custom-toolbar">
    <div class="toolbar-content">
        <img src="assets/foto-exemplo.png" alt="Perfil" class="profile-image">
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Botão de home">
            <mat-icon class="material-icons-outlined">home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Botão de visibilidade">
            <mat-icon class="material-icons-outlined">visibility</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Botão de repeat">
            <mat-icon class="material-icons-outlined">repeat</mat-icon>
        </button>
    </div>
</mat-toolbar>