<div class="layout-container">
    <div class="setaMeuPlano">
        <button (click)="enviarLogin()" mat-icon-button class="back-icon" aria-label="Voltar">
            <mat-icon class="material-icons-outlined">arrow_back</mat-icon>
        </button>
        <span class="header-title">MEU PLANO</span>
    </div>
    <hr class="divider-top">

    <div class="tamanhoTelaSelecao">
        <div class="profile-section">
            <div class="profile-icon-wrapper">
                <mat-icon class="profile-icon material-icons-outlined">perm_identity</mat-icon>
            </div>
            <div class="profile-text">
                <h5 class="profile-title">Meu Plano</h5>
                <h6 class="profile-subtitle">O que você quer fazer?</h6>
            </div>
        </div>

        <div class="options-list">
            <div class="option-item" (click)="alterarCorEventos(0)">
                <mat-icon [ngClass]="{'active-icon': isClicked[0]}"
                    class="option-icon material-icons-outlined">request_quote</mat-icon>
                <span [ngClass]="{'active-text': isClicked[0]}">Ver Extrato</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[0]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(1)">
                <mat-icon [ngClass]="{'active-icon': isClicked[1]}"
                    class="option-icon material-icons-outlined">mail</mat-icon>
                <span [ngClass]="{'active-text': isClicked[1]}">Contribuição Mensal</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[1]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(2)">
                <mat-icon [ngClass]="{'active-icon': isClicked[2]}"
                    class="option-icon material-icons-outlined">local_atm</mat-icon>
                <span [ngClass]="{'active-text': isClicked[2]}">Contribuição Extra</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[2]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(3)">
                <mat-icon [ngClass]="{'active-icon': isClicked[3]}"
                    class="option-icon material-icons-outlined">description</mat-icon>
                <span [ngClass]="{'active-text': isClicked[3]}">Documentos</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[3]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(4)">
                <mat-icon [ngClass]="{'active-icon': isClicked[4]}"
                    class="option-icon material-icons-outlined">trending_up</mat-icon>
                <span [ngClass]="{'active-text': isClicked[4]}">Regime de Tributação</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[4]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(5)">
                <div class="chat-with-dollar arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[5]}" class="option-icon material-icons-outlined"
                        class="option-icon arrow-icon material-icons-outlined">chat_bubble_outline</mat-icon>
                    <span [ngClass]="{'active-text': isClicked[5]}"
                        class="option-icon arrow-icon dollar-symbol">$</span>
                </div>
                <span [ngClass]="{'active-text': isClicked[5]}">Solicitar Benefício</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[5]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(6)">
                <mat-icon [ngClass]="{'active-icon': isClicked[6]}"
                    class="option-icon material-icons-outlined">assessment</mat-icon>
                <span [ngClass]="{'active-text': isClicked[6]}">Extrato Regressivo</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[6]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">

            <div class="option-item" (click)="alterarCorEventos(7)">
                <mat-icon [ngClass]="{'active-icon': isClicked[7]}"
                    class="option-icon material-icons-outlined">info</mat-icon>
                <span [ngClass]="{'active-text': isClicked[7]}">Informações</span>
                <div class="arrow-wrapper">
                    <mat-icon [ngClass]="{'active-icon': isClicked[7]}"
                        class="arrow-icon material-icons-outlined">chevron_right</mat-icon>
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>
    <app-info-menu *ngIf="selectedOption" [titulo]="selectedOption.title" [icon]="selectedOption.icon"
        [valorContribuicao]="selectedOption.value" [tituloValorContribuicao]="selectedOption.subtitle"
        [tituloPorcentagemSalario]="selectedOption.tituloPorcentagemSalario"
        [porcentagemSalario]="selectedOption.porcentagemSalario" [descricaoBotao]="selectedOption.buttonText"
        [botaoSecundario]="selectedOption.botaoSecundario">
    </app-info-menu>
</div>