<div class="info-menu-container">
    <mat-card appearance="outlined" class="info-card">
        <mat-card-header>
            <mat-card-title>Australian Shepherd</mat-card-title>
            <mat-card-subtitle>Herding group</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Learn More</button>
        </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined" class="info-card">
        <mat-card-header>
            <mat-card-title>Beagle</mat-card-title>
            <mat-card-subtitle>Hound group</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Learn More</button>
        </mat-card-actions>
    </mat-card>
</div>