.layout-container {
    background-color: #fff;
    color: #464646;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-family: Poppins;
    position: relative;
}

.info-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 65%;
    margin-left: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.info-card {
    width: 100%;
    max-width: 90%;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px auto;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .info-card {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
}

.mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-card-title {
    font-size: 18px;
    font-weight: bold;
}

.mat-card-subtitle {
    font-size: 14px;
    color: #7d7d7d;
}

.mat-card-actions {
    margin-top: auto;
    text-align: right;
}

.mat-card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-left {
    display: flex;
    align-items: center;
}

.option-icon {
    margin-right: 10px;
}

.title-text {
    flex-grow: 1;
    color: #464646;
}

.title-right {
    display: flex;
    justify-content: flex-end;
}

.corIconSeta {
    color: #1AAAB2;
}

.divider-top {
    width: 95% !important;
}

.subTituloCard {
    padding: 16px 16px 0;
}

.alinhamentoValores {
    display: flex;
    justify-content: space-between;
}

.title-semibold-h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
    text-align: left;
    color: #464646;
}

.label-button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
    text-align: left;
    color: #1AAAB2;
    width: 50%;
}

.mat-mdc-button:not(:disabled) {
    color: #1AAAB2 !important;
}

.btn-acessar {
    width: 100%;
    max-width: 272px;
    height: 40px;
    font-size: 1em;
    color: #fff;
    background-color: #1AAAB2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-inline: auto;
}