<div class="info-menu-container">
    <mat-card appearance="outlined" class="info-card">
        <mat-card-header>
            <div class="mat-card-title-container">
                <div class="title-left">
                    <mat-icon class="option-icon material-icons-outlined">monetization_on</mat-icon>
                </div>
                <span class="title-text">Contribuição mensal</span>
                <div class="title-right">
                    <mat-icon class="arrow-icon material-icons-outlined corIconSeta">chevron_right</mat-icon>
                </div>
            </div>
        </mat-card-header>
        <hr class="divider-top">
        <div class="subTituloCard alinhamentoValores">
            <mat-card-subtitle>Valor da contribuição</mat-card-subtitle>
            <mat-card-subtitle class="title-semibold-h6">R$ 500,00</mat-card-subtitle>
        </div>
        <div class="subTituloCard alinhamentoValores">
            <mat-card-subtitle>Porcentagem do salário</mat-card-subtitle>
            <mat-card-subtitle class="title-semibold-h6">5%</mat-card-subtitle>
        </div>
        <button mat-button class="label-button">ALTERAR CONTRIBUIÇÃO</button>
    </mat-card>

    <mat-card appearance="outlined" class="info-card">
        <mat-card-header>
            <div class="mat-card-title-container">
                <div class="title-left">
                    <mat-icon class="option-icon material-icons-outlined">monetization_on</mat-icon>
                </div>
                <span class="title-text">Contribuição mensal</span>
                <div class="title-right">
                    <mat-icon class="arrow-icon material-icons-outlined corIconSeta">chevron_right</mat-icon>
                </div>
            </div>
        </mat-card-header>
        <hr class="divider-top">
        <div class="subTituloCard alinhamentoValores">
            <mat-card-subtitle>Valor da contribuição</mat-card-subtitle>
            <mat-card-subtitle class="title-semibold-h6">R$ 500,00</mat-card-subtitle>
        </div>
        <button mat-button class="label-button">ALTERAR CONTRIBUIÇÃO</button>
    </mat-card>
</div>