<div class="info-menu-container" [ngClass]="{'margin-auto': isMobile}">
    <div class="alinhaTituloGrafico">
        <h4 class="tituloComecoGraf">Total em contribuições</h4>
        <h1 class="estiloReais">R$ 999.999,99</h1>
    </div>
    <div class="pie-chart-container">
        <ngx-charts-pie-chart [results]="doughnutChartData" [legend]="true" [doughnut]="true" [labels]="false"
            [legendPosition]="legendPosition" [legendTitle]="''">
        </ngx-charts-pie-chart>
    </div>
    <hr class="linhaHr">
    <div class="card-container alinhaCard">
        <mat-card appearance="outlined" class="info-card">
            <mat-card-header>
                <div class="mat-card-title-container">
                    <div class="title-left">
                        <mat-icon class="option-icon material-icons-outlined">{{ icon }}</mat-icon>
                    </div>
                    <span class="title-text">{{ titulo }}</span>
                    <div class="title-right">
                        <mat-icon class="arrow-icon material-icons-outlined corIconSeta">chevron_right</mat-icon>
                    </div>
                </div>
            </mat-card-header>
            <hr class="divider-top">
            <div class="subTituloCard alinhamentoValores">
                <mat-card-subtitle>{{ tituloValorContribuicao }}</mat-card-subtitle>
                <mat-card-subtitle class="title-semibold-h6">{{ valorContribuicao }}</mat-card-subtitle>
            </div>
            <div class="subTituloCard alinhamentoValores">
                <mat-card-subtitle>{{ tituloPorcentagemSalario }}</mat-card-subtitle>
                <mat-card-subtitle class="title-semibold-h6">{{ porcentagemSalario }}</mat-card-subtitle>
            </div>
            <button mat-button class="label-button">{{ descricaoBotao }}</button>
        </mat-card>

        <mat-card appearance="outlined" class="info-card">
            <mat-card-header>
                <div class="mat-card-title-container">
                    <div class="title-left">
                        <mat-icon class="option-icon material-icons-outlined">{{ icon }}</mat-icon>
                    </div>
                    <span class="title-text">{{ titulo }}</span>
                    <div class="title-right">
                        <mat-icon class="arrow-icon material-icons-outlined corIconSeta">chevron_right</mat-icon>
                    </div>
                </div>
            </mat-card-header>
            <hr class="divider-top">
            <div class="subTituloCard alinhamentoValores">
                <mat-card-subtitle>{{ tituloValorContribuicao }}</mat-card-subtitle>
                <mat-card-subtitle class="title-semibold-h6">{{ valorContribuicao }}</mat-card-subtitle>
            </div>
            <button mat-button class="label-button">{{ descricaoBotao }}</button>
        </mat-card>
    </div>

    <button *ngIf="botaoSecundario" type="button" class="btn-acessar">{{ botaoSecundario }}</button>
</div>