<div class="container">
    <div class="login-section">
        <div class="logo">
            <img src="assets/logo-navega.png" alt="Descrição da imagem" class="minha-imagem">
        </div>
        <section class="welcome-section">
            <h1 class="tituloLogin">Boas-vindas ao Portal! <br>Para começar, qual seu email ou CPF?</h1>
            <p class="paragrafoLogin">Precisamos desta confirmação para dar início ao seu acesso.</p>
        </section>

        <form class="example-form">
            <mat-form-field class="input-container">
                <mat-label>Email ou CPF</mat-label>
                <input matInput placeholder="Digite seu email ou CPF">
                <mat-icon matSuffix>check_circle_outline</mat-icon>
            </mat-form-field>

            <mat-form-field class="input-container">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite sua senha" type="password">
                <mat-icon matSuffix>check_circle_outline</mat-icon>
            </mat-form-field>

            <button type="button" class="btn-acessar">Acessar</button>
        </form>

        <p class="paragrafoLogin espacamentoEsqueceu">
            Esqueceu sua senha? <a href="#" class="forgot-password">Acesse aqui</a>
        </p>

        <p class="paragrafoVersao">Versão 0.01</p>
    </div>

    <!-- Seção da imagem de fundo e imagem sobreposta -->
    <div class="side-section">
        <img src="assets/img-fundo-f3.png" class="imagem-fundo">
        
        <div class="imagem-sobreposta">
            <img class="tamanhoImgSobre" src="assets/img-sobre-fundo-f3.png">
        </div>
        
        <!-- Texto abaixo da imagem sobreposta -->
        <p class="texto-dashboard">Bem-vindo a seu novo Dashboard</p>
    </div>
</div>
