<div class="container">
    <div class="login-section">
        <div class="logo">
            <p>Logo Aqui</p>
        </div>
        <section class="welcome-section">
            <h1>Boas-vindas ao Portal!</h1>
            <p>Para começar, qual seu email ou CPF?</p>
            <p>Precisamos desta confirmação para dar início ao seu acesso.</p>
        </section>
        <form>
            <label for="emailCpf">Email ou CPF</label>
            <input type="text" id="emailCpf" placeholder="Digite seu email ou CPF" />

            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha" />

            <button type="button" class="btn-acessar">Acessar</button>
        </form>
        <a href="#" class="forgot-password">Esqueceu sua senha? Acesse aqui</a>
        <p class="version">Versão 0.01</p>
    </div>
    <div class="side-section">
    </div>
</div>